---
layout: list
title: List
---
<!--箇条書きで種名をリンクごと表示
<ul>
    {% for spp in site.data.list %}
      <li>
        <a href="{{ spp.name2 }}.html">
          {{ spp.name1 }}
        </a>
      </li>
    {% endfor %}
</ul>
-->

<div class="main">
{% for spp in site.data.list %}
<section class="card">
    <a href="species/{{ spp.name2 }}.html"><img class="card-img", src="assets/img/list/{{ spp.name2 }}.jpg", alt={{ spp.name1 }}></a><br>
    <div class="card-link">
    <a href="species/{{ spp.name2 }}.html">{{ spp.name1 }}</a>
    </div>
</section>
{% endfor %}
</div>