---
layout: default
title: アオキ
spp: aoki
---
<div id="container1">
{% for spp in site.data.list %}
    {% if spp.name2 == page.spp %}
        <img class="leaf-pic", src="/assets/img/leaf/{{ spp.name2 }}.jpg", alt="{{page.title}}">
            <div class="leaf-info">
                {{ spp.name1 }}<br>
                {{ spp.scientific-name}}<br>
                目： {{ spp.order }}目<br>
                科： {{ spp.family }}科<br>
                属： {{ spp.genus }}属<br>
            </div>
    {% endif %}
{% endfor %}
</div>