.card {
    width: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin: 10px 10px 10px 10px;
}
.card:hover{
    transform: scale(1.05, 1.05);
}
.card-img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: auto;
}
.card-link {
    text-align: center;
    border-top: 1px solid #eee;
}
.card-link a {
    text-decoration: none;
    color: #0bd;
    margin: 0;
}
.card-link a:hover {
    color: #0090aa;
}

.main{
    display: flex;
    justify-content: flex-start;
}