#container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d8f255 ;
}

.leaf-pic {
    order: 1;
    width: 500px;
    margin: 10px;
    cursor: pointer;
}
.leaf-info {
    order: 2;
    align-self: center;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    /*color: #6091d3;文字色*/
    /*background: #FFF;*/
    border: solid 3px #03af7a;/*線*/
    border-radius: 10px;/*角の丸み*/
}